/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/*************/
.filters {
	margin-top: 51px;
	margin-bottom: 50px;
	display: flex;
	gap: 10px;
	justify-content: center;

}

.filters .btn-filter {
	display: flex;
	flex-direction: row;

	height: 38px;
	align-items: center;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	border-radius: 60px;
	border: 1px solid #1D6154;
	line-height: 100%;
	padding-top: 9px;
	padding-bottom: 9px;
	background-color: #FFFEF8;
	padding-left: 25px;
	padding-right: 25px;
}

.btn-filter:active {
	background-color: #1D6154;
	color: #FFFFFF;
}

.error {
	display: none;
	color: crimson;
}

form a {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: #3D3D3D;
	line-height: 16px;
	text-align: center;

}

.admin-banner {
	position: relative;
	height: 59px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	width: 100%;
	margin-bottom: -12px;
}

.admin-element p {
	color: white;
	font-size: 16px;
	gap: 21px;
	display: flex;
}

.login {
	width: 38px;
	height: 19px;
	font-family: 'Work Sans';
	font-weight: 600;
	font-size: 16px;
	color: #000000;
	text-decoration: none;

}

.logout {
	text-decoration: none;
	color: #000000;
}

/**** Premiér Modal****/
.openModal {
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	height: 18px;
	width: 84px;
	padding-left: 31px;
	padding-top: 10px;
	padding-bottom: 8px;
}

.openModal i {
	padding-right: 10px;
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
	background-color: #FFF;
	width: 420px;
	margin: 15% auto;
	padding-left: 105px;
	padding-right: 105px;
	border-radius: 10px;
	border: 1px solid #888;
	padding-top: 26px;

}

.modal-content .close {
	padding: 0;
	height: 24px;
	width: 24px;
	border: none;
	background: none;
	color: #000;
	float: right;
	position: relative;
	top: -10px;
	right: -85px;
}

.modal-content .close .fa-x::before {
	font-size: 14px;
}

.modal h2 {
	font-family: 'Work Sans';
	color: #000;
	font-size: 26px;
	font-weight: 400;
	height: 30px;
	padding-top: 10px;
}

.modal-content .images {
	width: 100%;
	display: grid;
	grid-column-gap: 9px;
	grid-row-gap: 29px;
	padding-top: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding-bottom: 67px;

}

.modal .modal-content .images img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.modal .modal-content .images .trash-icon {
	position: absolute;
	top: 6px;
	right: 6px;
	background-color: #000;
	color: #FFF;
	width: 17px;
	height: 17px;
	border-radius: 2px;
}

.modal .modal-content .images .trash-icon .fa-trash-can {
	width: 9px;
	height: 10px;
	position: absolute;
	top: 1px;
	right: inherit;
	transform: translate(2px, -1px);
}

.modal .modal-content .images .trash-icon .fa-trash-can:before {
	font-size: 10px;

}

.modal .modal-content .images figure {
	position: relative;
}

#addPhotoBtn {
	background-color: #1D6154;
	color: #FFFFFF;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	border-radius: 60px;
	height: 36px;
	width: 237px;
	border-width: 0;

}

.button {
	display: flex;
	justify-content: center;
	padding-bottom: 45px;

	padding-top: 38px;
	border-top: 1px solid #B3B3B3;
}

/***************/
/**** Second Modal ****/







.modal-content .arrow-back {
	padding: 0;
	height: 21px;
	width: 21px;
	border: none;
	background: none;
	color: #000;
	float: left;
	position: relative;
	top: -10px;
	right: 85px;
}

.modal-content .arrow-back .fa-arrow-left::before {
	font-size: 21px;
}

#modal {
	font-family: 'Work Sans';
	color: #000;
	font-size: 26px;
	font-weight: 400;
	height: 30px;
	padding-top: 10px;
	margin-bottom: 36px;
}

.upload-box {
	background: #E8F1F6;
	width: 420px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}


.icon-preview {
	width: 68px;
	height: 60px;
	padding-left: 4px;
	padding-top: 9px;
	padding-bottom: 7px;
	padding-right: 4px;
	color: #B9C5CC;
	padding-top: 13px;
}

.icon-preview::before {
	font-size: 68px;
}

.btn-upload {
	width: 107px;
	height: 16px;
	border-radius: 50px;
	background-color: #CBD6DC;
	font-weight: 500;
	font-size: 14px;
	color: #306685;
	padding: 10px 33px;
	margin-bottom: 7px;
}


.upload-box p {
	font-size: 10px;
	font-weight: 400;
	color: #444444;
	width: 94px;
	height: 12px;
	padding-bottom: 19px;
}

.photoForm {
	background: #FFFFFF;
	width: 420px;
	display: flex;
	flex-direction: column;
	padding-top: 9px;
}

.photoForm h2 {
	font-family: 'Work Sans';

}

.photoForm label {
	font-size: 14px;
	font-weight: 500;
	height: 16px;
	margin-bottom: 10px;
	margin-top: 21px;
}

.photoForm form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	padding-top: 9px;
}



.photoForm input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

}

.photoForm select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 47px;
	padding-top: 1px;
}

.upload-box .btn-submit:disabled {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	margin: 2em auto;
	width: 237px;
	text-align: center;
	border-radius: 60px;
	height: 36px;
	border-width: 0;

}

.upload-box .btn-submit:enabled {
	background-color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin: 2em auto;
	width: 237px;
	text-align: center;
	border-radius: 60px;
	height: 36px;
	border-width: 0;
}

.btn-Valid {
	display: flex;
	justify-content: center;
	padding-bottom: 55px;

	padding-top: 32px;
	border-top: 1px solid #B3B3B3;
}

/*************/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-top: 28px;
}

.gallery img {
	width: 100%;
	height: 407px;
	object-fit: cover;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.hidden {
	display: none !important;
}